@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-offwhite text-darkgray text-base md:text-lg;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@layer components {
  .btn-primary {
    @apply px-8 py-4 md:py-3.5 rounded-xl font-bold transition-all duration-300 shadow-xl;
  }

  /* Tap target improvement for mobile */
  button,
  a {
    @apply min-h-[44px] min-w-[44px];
  }
}

.bg-arabesque {
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 30c0-5.523-4.477-10-10-10S10 24.477 10 30s4.477 10 10 10 10-4.477 10-10zm0 0c0 5.523 4.477 10 10 10s10-4.477 10-10-4.477-10-10-10-10 4.477-10 10z' fill='%230A1D37' fill-opacity='0.03' fill-rule='evenodd'/%3E%3C/svg%3E");
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.animate-floating {
  animation: float 4s ease-in-out infinite;
}

.animate-floating-delayed {
  animation: float 4s ease-in-out infinite;
  animation-delay: 2s;
}